alembic==1.8.1
asttokens==2.0.8
backcall==0.2.0
blis==0.9.1
catalogue==2.0.8
certifi==2022.6.15.1
charset-normalizer==2.1.1
click==7.0
colorama==0.4.5
confection==0.0.1
config==0.5.1
Config-Handler==0.1.0
cymem==2.0.6
decorator==5.1.1
elastic-transport==8.4.0
elasticsearch==8.4.1
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.4.0/es_core_news_md-3.4.0-py3-none-any.whl
executing==1.0.0
faiss-cpu==1.7.2
filelock==3.8.0
Flask==2.2.2
gunicorn==20.1.0
pandas==1.4.4
psycopg2-binary==2.9.3
