Flask==2.2.1
    Flask-Login==0.5.0
    Flask-Mail==0.9.1
    Flask-Migrate==3.0.1
    Flask-Script==2.0.6
    Flask-SQLAlchemy==2.5.1
    Flask-WTF==0.14.3
    itsdangerous==1.1.0
    Jinja2==2.11.3
    Mako==1.1.4
    MarkupSafe==1.1.1
    psycopg2==2.8.6
    python-dateutil==2.8.1
    python-editor==1.0.4
    python3-openid==3.2.0
    six==1.15.0
    SQLAlchemy==1.3.23
    Werkzeug==1.0.1
    WTForms==2.3.3
    WTForms-Components==0.10.5
    WTForms-JSON==0.3.3
    WTForms-SQLAlchemy==0.1
    WTForms-Widgets==0.1.3
    zope.interface==5.2.0
txtai
psycopg2==2.8.6
gunicorn==19.9.0
pandas==1.5.0
jsonschema==3.2.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cpu
